  <nav class="navbar bg-light">
        <div class="container-fluid">
          <a class="navbar-brand">Task</a>
          <form class="d-flex">
            <a href="/" class="btn btn-primary mx-3">Home</a>
            <a href="/add" class="btn btn-primary mx-3">Add</a>
          </form>
        </div>
      </nav>