{{>header}}
{{>nav}}
<form action="userSearch">
  <div class="mb-3">
    <label  class="form-label">Castomer Id</label>
    <input type="number" class="form-control" id="exampleInputEmail1" name="userId">
    <div id="emailHelp" class="form-text">please enter Your Id</div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{{>footer}}